@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

:root {
    --bgcolor: rgb(230, 227, 205);
    --bgimg: url('../assets/bgimg1.jpg');
}

.blur {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}


html {
    font-family: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

body, #left-container, #right-container, #logo {
    display: flex;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bgcolor);
    margin: 0;
}

a {
    color:rgb(175, 175, 175);
    text-decoration: none;
}

a:visited {
    color: rgb(247, 117, 247);
}


#left-container {
    width: 40vw;
    height: 100%;
    background-image: var(--bgimg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    flex-flow: column nowrap;
}

#right-container {
    width: 60vw;
    height: 100%;
    flex-flow: column nowrap;
}

#logo {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: white;
    height: auto;
    padding: .5em 0;
    top: 20vh;
}

#credit {
    position: fixed;
    text-align: center;
    color: white;
    padding: .5em 0;
    bottom: 0;
    width: inherit;
}

#top-section {
    width: inherit;
    height: 30vh;
}

#form-section {
    width: inherit;
    height: 40vh;
}

#bottom-section {
    width: inherit;
    height: 30vh;
}
